{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/w2ui/w2ui-2.0.min.css' %}">
{% endblock %}
{% block body %}
    <main id="main" class="mt-3" style="width: 100vw; height: 85vh;"></main>
{% endblock %}
{% block script %}
    <script src="{% static 'dist/js/jquery.min.js' %}"></script>
    <script type="module">
        import {query, w2grid, w2layout, w2popup, w2sidebar, w2utils} from "{% static 'assets/w2ui/w2ui-2.0.es6.min.js' %}";

        // widget configuration
        function grid(value){
            return  {
                name: 'grid',
                url: {
                    get: "{% url 'home:get_all_hebdo' %}",
                    remove: '',
                    save: ''
                },
                dataType: 'JSON',
                routeData: { id: 14 },

                postData: {
                    category: `${value}`,
                },
                recid: 'uid',
                autoLoad: true,
                /*
                parser: function (responseText) {
                    // do other things
                    return this.parseJSON(responseText);
                },*/
                liveSearch: true,
                multiSelect: true,
                keyboard: true,
                header: 'Liste des '+value,
                msgNotJSON: "Les données reçu n'est pas en JSON",
                msgDelete: 'Est-vous sûr de vouloir supprimer ?',
                msgEmpty: 'Aucun donnée',
                msgHTTPError: 'Erreur HTTP',
                msgNeedReload: 'Reload Nécessaire...',
                msgRefresh: 'Rafraichissement...',
                msgServerError: 'Erreur Serveur !',
                sortData: [{field: 'department', direction: 'asc'}],
                buttons: {
                    'reload': {
                        type: 'button',
                        img: 'icon-reload',
                        tooltip: w2utils.lang('Rafraichir les données')
                    },
                    'columns': {
                        type: 'drop',
                        img: 'icon-columns',
                        tooltip: w2utils.lang('Afficher/Cacher colonne'),
                        arrow: true,
                        html: ''
                    },
                    'search': {
                        type: 'html',
                        html: '<div class="w2ui-icon icon-search-down w2ui-search-down" ' +
                            '    title="' + w2utils.lang('Champs de Rechercher') + '" ' +
                            '    onclick="let obj = w2ui[$(this).parents(\'div.w2ui-grid\').attr(\'name\')]; ' +
                            '    obj.searchShowFields(this);"></div>'
                    },
                    'search-go': {
                        type: 'check',
                        text: w2utils.lang('Chercher...'),
                        tooltip: w2utils.lang('Ouvrir et Chercher')
                    },
                    'add': {
                        type: 'button',
                        text: w2utils.lang('Ajouter'),
                        tooltip: w2utils.lang('Ajouter une ligne'),
                        img: 'icon-add'
                    },
                    'edit': {
                        type: 'button',
                        text: w2utils.lang('Modifier'),
                        tooltip: w2utils.lang("Modifier la ligne"),
                        img: 'icon-edit',
                        disabled: true
                    },
                    'delete': {
                        type: 'button',
                        text: w2utils.lang('Supprimer'),
                        tooltip: w2utils.lang("Supprimer l'enregistrement"),
                        img: 'icon-delete',
                        disabled: true
                    },
                    'save': {
                        type: 'button',
                        text: w2utils.lang('Enregistrer'),
                        tooltip: w2utils.lang('Sauvegarder tous les lignes'),
                        img: 'icon-save'
                    }
                },
                show: {
                    header: true,
                    footer: true,
                    toolbar: true,
                    toolbarAdd: true,
                    toolbarSave: true,
                    lineNumbers: true,
                    orderColumn: true,
                    columnMenu: true,
                    columnHeaders: true,
                    emptyRecords: true,
                    selectionBorder: true,
                    recordTitles: true,
                    searchAll: true,
                    searchHiddenMsg: true,
                    searchLogic: true,
                    searchSave: true,
                    skipRecords: true,
                    toolbarReload: true,
                    toolbarColumns: true,
                    toolbarSearch: true,
                    toolbarInput: true,
                    toolbarDelete: true,
                    statusRange: true,
                    statusBuffered: true,
                    statusRecordID: true,
                    statusSelection: true,
                    statusResponse: true,
                    statusSearch: true,
                },
                columnTooltip: 'bottom',
                searches: [
                    {type: 'text', field: 'department', label: 'Département'},
                    {type: 'text', field: 'famille', label: 'Famille'},
                    {type: 'text', field: 'article', label: 'Article'},
                    {type: 'text', field: 'designation', label: 'Désignation'},
                    {
                        field: 'type', text: 'Import/Local', type: 'list',
                        options: {items: ['Import', 'Local']}
                    },
                ],
                onExpand(event) {
                    query('#' + event.detail.box_id).html('<div style="padding: 10px; height: 100px">Expanded content</div>')
                },
                columnGroups: [
                    {#{text: '', master: true},#}
                    {text: 'INFORMATION', span: 5, frozen: true},
                    {text: 'PTA', span: 6},
                    {text: 'Réalisation ', span: 6}
                ],
                toolbar: {
                    items: [
                        {#{id: 'add', type: 'button', text: 'Ajouter', icon: 'w2ui-icon-plus'},#}
                        {#{type: 'break'},#}
                        {type: 'button', id: 'showChanges', text: 'Historique'}
                    ],
                    onClick(event) {
                        if (event.target === 'add') {
                            {#console.log('add')#}
                            let recid = this.records.length + 1
                            this.owner.add({recid});
                            this.owner.scrollIntoView(recid);
                            this.owner.editField(recid, 1)
                        }
                        if (event.target === 'showChanges') {
                            showChanged()
                        }

                    }
                },
                onSave: function (event) {
                    {#console.log(event.detail.changes);#}

                    {#console.log(event);#}
                },
                onAdd: function (event) {
                    {#console.log(event)#}

                    let recid = this.records.length + 1
                    event.owner.add({recid});
                    event.owner.scrollIntoView(recid);
                    event.owner.editField(recid, 0)
                },
                onChange: function (event) {
                    {#console.log(event);#}
                },
                onEdit: function (event) {
                    {#console.log(event);#}
                },
                onDelete: function (event) {
                    {#console.log(event);#}
                },
                onDestroy: function (event) {
                    console.log('object ' + event.target + ' is destroyed');
                },
                columns: [
                    {
                        field: 'department',
                        text: 'Département',
                        sortable: true,
                        size: '120px',
                        resizable: true,
                        editable: {type: 'text'},
                        frozen: true,
                        searchable: {operator: 'contains'}
                    },
                    {
                        field: 'family',
                        text: 'Famille',
                        sortable: true,
                        size: '120px',
                        resizable: true,
                        frozen: true,
                        editable: {type: 'text'},
                        searchable: {operator: 'contains'}
                    },
                    {
                        field: 'article',
                        text: 'Article',
                        sortable: true,
                        size: '120px',
                        resizable: true,
                        frozen: true,
                        editable: {type: 'text'},
                        searchable: {operator: 'contains'},
                        clipboardCopy: "Copier le N° Article"
                    },
                    {
                        field: 'designation',
                        text: 'Désignation',
                        size: '150px',
                        sortable: true,
                        resizable: true,
                        frozen: true,
                        editable: {type: 'text'},
                        searchable: {operator: 'contains'}
                    },
                    {
                        field: 'type',
                        text: 'Import / Local',
                        size: '100px',
                        sortable: true,
                        resizable: true,
                        frozen: true,
                        editable: {
                            type: 'list', items: [
                                {id: 1, text: 'Import'},
                                {id: 2, text: 'Local'},
                            ], showAll: true, openOnFocus: true, align: 'left'
                        },
                        render(record, extra) {
                            return extra.value?.text || '';
                        }
                    },
                    // PTA
                    {
                        field: 'qte_pta',
                        text: 'Qté',
                        size: '100px',
                        align: 'right',
                        editable: {type: 'money', groupSymbol: ' ', currencyPrefix: '', currencySuffix: ''},
                        render: 'money'
                    },
                    {
                        field: 'pmp_pta',
                        text: 'PMP',
                        size: '100px',
                        align: 'right',
                        editable: {type: 'money', groupSymbol: ' ', currencyPrefix: '', currencySuffix: ''},
                        render: 'money'
                    },
                    {
                        field: 'pdv_pta',
                        text: 'PDV',
                        size: '100px',
                        align: 'right',
                        editable: {type: 'money', groupSymbol: ' ', currencyPrefix: '', currencySuffix: ''},
                        render: 'money'
                    },
                    {
                        field: 'marge_pta',
                        text: 'Marge',
                        size: '100px',
                        align: 'right',
                        render: function (record, extra) {
                            if (record.pdv_pta && record.pmp_pta) {
                                return parseFloat(record.pdv_pta) - parseFloat(record.pmp_pta);
                            }
                        }
                    },
                    {
                        field: 'pourcentage_marge_pta',
                        text: '% marge',
                        size: '100px',
                        align: 'right',
                        render: function (record, extra) {
                            if (record.pdv_pta && record.pmp_pta) {
                                return (parseFloat(record.pdv_pta) - parseFloat(record.pmp_pta)) / parseFloat(record.pdv_pta) + ' %';
                            }
                        }
                    },
                    {
                        field: 'ca_ht_pta',
                        text: 'CA HT',
                        size: '100px',
                        align: 'right',
                        render: function (record, extra) {
                            if (record.qte_pta && record.pdv_pta) {
                                return parseFloat(record.pdv_pta) * parseFloat(record.pmp_pta);
                            }
                        }
                    },
                    // Réalisation
                    {
                        field: 'qte_realisation',
                        text: 'Qté',
                        size: '100px',
                        align: 'right',
                        editable: {type: 'money', groupSymbol: ' ', currencyPrefix: '', currencySuffix: ''},
                        render: 'money'
                    },
                    {
                        field: 'pmp_realisation',
                        text: 'PMP',
                        size: '100px',
                        align: 'right',
                        editable: {type: 'money', groupSymbol: ' ', currencyPrefix: '', currencySuffix: ''},
                        render: 'money'
                    },
                    {
                        field: 'pdv_realisation',
                        text: 'PDV',
                        size: '100px',
                        align: 'right',
                        editable: {type: 'money', groupSymbol: ' ', currencyPrefix: '', currencySuffix: ''},
                        render: 'money'
                    },
                    {
                        field: 'marge_realisation',
                        text: 'Marge',
                        size: '100px',
                        align: 'right',
                        render: function (record, extra) {
                            if (record.pdv_realisation && record.pmp_realisation) {
                                return parseFloat(record.pdv_realisation) - parseFloat(record.pmp_realisation);
                            }
                        }
                    },
                    {
                        field: 'pourcentage_marge_realisation',
                        text: '% marge',
                        size: '100px',
                        align: 'right',
                        render: function (record, extra) {
                            if (record.pdv_realisation && record.pmp_realisation) {
                                return (parseFloat(record.pdv_realisation) - parseFloat(record.pmp_realisation)) / parseFloat(record.pdv_realisation) + ' %';
                            }
                        }
                    },
                    {
                        field: 'ca_ht_realisation',
                        text: 'CA HT Rea',
                        size: '100px',
                        align: 'right',
                        render: function (record, extra) {
                            if (record.qte_realisation && record.pdv_realisation) {
                                return parseFloat(record.pdv_realisation) * parseFloat(record.pmp_realisation);
                            }
                        }
                    },
                    {
                        field: 'stock_realisation',
                        text: 'Stock au 1301',
                        size: '100px',
                        align: 'right',
                        editable: {type: 'money', groupSymbol: ' ', currencyPrefix: '', currencySuffix: ''},
                        render: 'money'
                    },

                    // Variable
                    {
                        field: 'ecart_qte',
                        text: 'Ecart Qte',
                        size: '100px',
                        align: 'right',
                        render: function (record, extra) {
                            if (record.qte_realisation && record.qte_pta) {
                                return parseFloat(record.qte_pta) - parseFloat(record.qte_realisation);
                            }
                        }
                    },
                    {
                        field: 'pourcentage_ecart_qte',
                        text: 'Ecart Qte (%)',
                        size: '100px',
                        align: 'right',
                        render: function (record, extra) {
                            if (record.qte_realisation && record.qte_pta) {
                                return parseFloat(record.qte_pta) / (parseFloat(record.qte_realisation) - 1);
                            }
                        }
                    },
                    {
                        field: 'ecart_ca_ht',
                        text: 'Ecart CA HT (Valeur)',
                        size: '100px',
                        align: 'right',
                        editable: {type: 'money', groupSymbol: ' ', currencyPrefix: '', currencySuffix: ''},
                        render: {type: 'money'}
                    },
                    {
                        field: 'pourcentage_ecart_ca_ht',
                        text: 'Ecart CA HT (%)',
                        size: '100px',
                        align: 'right',
                        editable: {type: 'money', groupSymbol: ' ', currencyPrefix: '', currencySuffix: ''},
                        render: {type: 'money'}
                    },
                    {
                        field: 'stock_prevision',
                        text: 'Stock Prev',
                        size: '100px',
                        align: 'right',
                        editable: {type: 'money', groupSymbol: ' ', currencyPrefix: '', currencySuffix: ''},
                        render: {type: 'money'}
                    },
                ]
            }
        }
        let config = {
            layout: {
                name: 'layout',
                overflow: 'auto',
                resizable: false,
                padding: 0,
                {#style   : 'border: 1px solid red',#}
                panels: [
                    {type: 'left', size: 100, resizable: true, minSize: 35},
                    {type: 'main', size: 550, overflow: 'hidden'}
                ]
            },
            sidebar: {
                name: 'sidebar',
                flatButton: true,
                nodes: [
                    {
                        id: 'general',
                        text: 'General',
                        group: true,
                        expanded: true,
                        groupShowHide: false,
                        nodes: [
                            {id: 'grid2080', text: '2080', icon: 'fas fa-list-alt', selected: true},
                            {id: 'grid8020', text: '8020', icon: 'fas fa-list-alt'},
                            {id: 'html', text: 'Synthèse', icon: 'fas fa-list-alt'},
                        ],
                        onCollapse(event) {
                            event.preventDefault()
                        }
                    }
                ],
                onFlat(event) {
                    layout.sizeTo('left', (event.detail.goFlat ? 35 : 100), true)
                },
                onClick(event) {
                    switch (event.target) {
                        case 'grid2080':
                            layout.html('main', grid2080)
                            break
                        case 'grid8020':
                            layout.html('main', grid8020)
                            break
                        case 'html':
                            layout.html('main', '<div style="padding: 10px">Page de Synthèse</div>')
                            query(layout.el('main')).css('border-left', '1px solid #efefef')
                            break
                    }
                }
            },
            grid2080: grid('2080'),
            grid8020: grid('8020')
        }

        let layout = new w2layout(config.layout);
        let sidebar = new w2sidebar(config.sidebar);
        let grid2080 = new w2grid(config.grid2080);
        let grid8020 = new w2grid(config.grid8020);
        layout.render('#main');
        layout.html('left', sidebar)
        layout.html('main', grid2080)

        window.showChanged = function () {
            w2popup.open({
                title: 'Historique',
                with: 600,
                height: 550,
                body: `<pre>${JSON.stringify(grid2080.getChanges(), null, 4)}</pre>`,
                actions: {Ok: w2popup.close}
            })
        }
        grid2080.stateSave();
        grid8020.stateSave();
    </script>
{% endblock %}
