{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/w2ui/w2ui-2.0.min.css' %}">
{% endblock %}
{% block body %}
    <main id="main" class="" style="width: 100vw; height: 85vh;"></main>
{% endblock %}
{% block script %}
    <script src="{% static 'dist/js/jquery.min.js' %}"></script>
    <script type="module">
        import {
            query,
            w2grid,
            w2layout,
            w2popup,
            w2sidebar,
            w2utils,
            w2alert,
            w2ui
        } from "{% static 'assets/w2ui/w2ui-2.0.es6.min.js' %}";

        let semaineActuel = 16
        let typeHebdo = [
            {id: 1, text: 'Import'},
            {id: 2, text: 'Local'},
        ]

        function grid(value) {
            return {
                name: value,
                url: {
                    get: "{% url 'home:get_all_hebdo' %}",
                    remove: "{% url 'home:delete_hebdo_by_uid' %}",
                    save: "{% url 'home:create_or_update_hebdo' %}"
                },
                dataType: 'JSON',
                postData: {
                    category: `${value}`,
                    section: null
                },
                recid: 'uid',
                method: 'GET',
                autoLoad: true,
                liveSearch: true,
                multiSearch: true,
                multiSelect: true,
                keyboard: true,
                reorderRows: false,
                header: 'Liste des ' + value,
                msgNotJSON: "Les données reçu n'est pas en JSON",
                msgEmpty: 'Aucun donnée',
                msgHTTPError: 'Erreur HTTP',
                msgNeedReload: 'Reload Nécessaire...',
                msgRefresh: 'Rafraichissement...',
                msgServerError: 'Erreur Serveur !',
                sortData: [{field: 'department_name', direction: 'asc'}],
                buttons: {
                    'reload': {
                        type: 'button',
                        img: 'icon-reload',
                        tooltip: w2utils.lang('Rafraichir les données')
                    },
                    'columns': {
                        tooltip: w2utils.lang('Afficher/Cacher colonne'),
                    },
                    'add': {
                        type: 'button',
                        text: w2utils.lang('Ajouter'),
                        tooltip: w2utils.lang('Ajouter une ligne'),
                        img: 'icon-add'
                    },
                    'edit': {
                        type: 'button',
                        text: w2utils.lang('Modifier'),
                        tooltip: w2utils.lang("Modifier la ligne"),
                        img: 'icon-edit',
                        disabled: true
                    },
                    'delete': {
                        type: 'button',
                        text: w2utils.lang('Supprimer'),
                        tooltip: w2utils.lang("Supprimer l'enregistrement"),
                        img: 'icon-delete',
                        disabled: true
                    },
                    'save': {
                        type: 'button',
                        text: w2utils.lang('Enregistrer'),
                        tooltip: w2utils.lang('Sauvegarder tous les lignes'),
                        img: 'icon-save'
                    }
                },
                show: {
                    header: true,
                    footer: true,
                    toolbar: true,
                    toolbarAdd: true,
                    toolbarSave: true,
                    lineNumbers: true,
                    orderColumn: true,
                    columnMenu: true,
                    columnHeaders: true,
                    emptyRecords: true,
                    selectionBorder: true,
                    recordTitles: true,
                    searchAll: true,
                    searchHiddenMsg: true,
                    searchLogic: true,
                    searchSave: true,
                    skipRecords: true,
                    toolbarColumns: true,
                    toolbarDelete: true,
                    statusRange: true,
                    statusBuffered: true,
                    statusRecordID: true,
                    statusSelection: true,
                    statusResponse: true,
                    statusSearch: true,
                },
                columnTooltip: 'bottom',
                tooltip: w2utils.locale({
    "locale": "fr-FR",
    "dateFormat": "dd/mm/yyyy",
    "timeFormat": "h24",
    "datetimeFormat": "m/d/yyyy|hh:mi pm",
    "currencyPrefix": "",
    "currencySuffix": "",
    "currencyPrecision": 2,
    "groupSymbol": ",",
    "decimalSymbol": ".",
    "shortmonths": [ "Jan", "Fév", "Mar", "Avr", "Mai", "Jui", "Jui", "Aou", "Sep", "Oct", "Nov", "Déc" ],
    "fullmonths": [ "Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre" ],
    "shortdays": [ "L", "M", "M", "J", "V", "S", "D" ],
    "fulldays": [ "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche" ],
    "weekStarts": "M",
    "phrases": {
        "${count} letters or more...": "${count} lettres ou plus...",
        "Add new record": "Ajouter un nouvel enregistrement",
        "Add New": "Ajouter un nouveau",
        "Advanced Search": "Recherche avancée",
        "after": "après",
        "AJAX error. See console for more details.": "Erreur AJAX. Regardez la console pour plus d'information",
        "All Fields": "Tous les champs",
        "All": "All",
        "Any": "Any",
        "Are you sure you want to delete ${count} ${records}?": "Etes-vous sur de vouloir supprimer ${count} ${records}?",
        "Attach files by dragging and dropping or Click to Select": "Affecter les fichiers par un glisser-déposer ou cliquer pour sélectionner",
        "before": "avant",
        "begins with": "commence par",
        "begins": "commence",
        "between": "entre",
        "buffered": "mis en mémoire tampon",
        "Cancel": "Cancel",
        "Close": "Close",
        "Column": "Colonne",
        "Confirmation": "Confirmation",
        "contains": "contient",
        "Copied": "Copié",
        "Copy to clipboard": "Copié dans le press-papier",
        "Current Date & Time": "Date et Heure actuelle",
        "Delete selected records": "Supprimer les enregistrements sélectionnés",
        "Delete": "Supprimer",
        "Do you want to delete search item \"${item}\"?": "Voulez-vous supprimer l'objet recherché \"${item}\"?",
        "Edit selected record": "Editer l'enregistrements séléctionné",
        "Edit": "Editer",
        "Empty list": "Liste vide",
        "ends with": "se termine par",
        "ends": "se termine",
        "Field should be at least ${count} characters.": "Le champ doit contenir au moins ${count} caractères.",
        "Hide": "Cacher",
        "in": "dans",
        "is not": "n'est pas",
        "is": "est",
        "less than": "moins que",
        "Line #": "Ligne #",
        "Load ${count} more...": "Charger ${count} de plus...",
        "Loading...": "Chargement...",
        "Maximum number of files is ${count}": "Le nombre maximum de fichier est de ${count}",
        "Maximum total size is ${count}": "La taille maximale est de ${count}",
        "Modified": "Modifié",
        "more than": "plus que",
        "Multiple Fields": "Champs multiples",
        "Name": "Nom",
        "No items found": "Aucune donnée trouvée",
        "No matches": "Aucun résultat",
        "No": "Non",
        "none": "rien",
        "Not a float": "Ce n'est pas un nombre à virgule",
        "Not a hex number": "Ce n'est pas un nombre en hexadécimal",
        "Not a valid date": "Ce n'est pas une date",
        "Not a valid email": "Ce n'est pas une adresse de courriel",
        "Not alpha-numeric": "Le contenu n'est pas alphanumérique",
        "Not an integer": "Ce n'est pas un entier",
        "Not in money format": "Ce n'est pas une monnaie",
        "not in": "pas dans",
        "Notification": "Message",
        "of": "de",
        "Ok": "Ok",
        "Opacity": "Opacity",
        "Record ID": "Id de l'enregistrement",
        "record": "enregistrement",
        "records": "enregistrements",
        "Refreshing...": "Rechargement...",
        "Reload data in the list": "Recharger les données de la liste",
        "Remove": "Supprimer",
        "Remove This Field": "Supprimer ce champ",
        "Request aborted.": "Requête annulée.",
        "Required field": "Champ obligatoire",
        "Reset": "Réinitialiser",
        "Restore Default State": "Restaurer l'état par défaut",
        "Returned data is not in valid JSON format.": "Les données retournées ne sont pas dans un format JSON valide",
        "Save changed records": "Sauvegarder les enregistrements modifiés",
        "Save Grid State": "Enregistrer l'état de la grille",
        "Save": "Sauvegarder",
        "Saved Searches": "Recherches sauvegardée",
        "Saving...": "Sauvegarde en cours...",
        "Search took ${count} seconds": "La recherche a pris ${count} secondes",
        "Search": "Rechercher",
        "Select Hour": "Sélectionner une heure",
        "Select Minute": "Sélectionner les minutes",
        "selected": "selectionné",
        "Server Response ${count} seconds": "Le serveur a répondu en ${count} secondes",
        "Show/hide columns": "Montrer/cacher les colonnes",
        "Show": "Montrer",
        "Size": "Taille",
        "Skip": "Passer",
        "Sorting took ${count} seconds": "Le triage à pris ${count} secondes",
        "Type to search...": "Ecrire pour rechercher...",
        "Type": "Type",
        "Yes": "Oui",
        "Yesterday": "Hier",
        "Your remote data source record count has changed, reloading from the first record.": "Le nombre d'enregistrements de votre source de données distante a changé, rechargement à partir du premier enregistrement."
    }
}),
                searches: [
                    {type: 'text', field: 'department_name', label: 'Département'},
                    {type: 'text', field: 'family_name', label: 'Famille'},
                    {type: 'text', field: 'article', label: 'Article'},
                    {type: 'text', field: 'designation', label: 'Désignation'},
                    {
                        field: 'type', text: 'Import/Local', type: 'list',
                        options: {
                            items: typeHebdo
                        }
                    },
                ],
                columnGroups: [
                    {#{text: '', master: true},#}
                    {text: 'INFORMATION', span: 5, frozen: true},
                    {text: 'PTA', span: 6},
                    {text: 'Réalisation ', span: 6}
                ],
                toolbar: {
                    items: [
                        {type: 'button', id: 'showChanges_' + value, text: 'Historique'},
                        {type: 'break', id: 'break_' + value},
                        {
                            type: 'radio',
                            group: value,
                            checked: true,
                            id: 'S' + semaineActuel,
                            text: 'S' + semaineActuel + ' (Actuel)',
                            icon: 'fas fa-calendar-alt'
                        },
                        {type: 'break', id: 'break_' + value},
                    ],
                    async onRender(event) {
                        await event.complete
                        for (let i = semaineActuel - 1; i > 0; i--) {
                            this.remove('S' + i)
                        }
                        for (let i = semaineActuel - 1; i > 0; i--) {
                            this.add({
                                type: 'radio',
                                group: value,
                                id: 'S' + i,
                                text: 'S' + i,
                                icon: 'fas fa-calendar-alt'
                            })
                        }
                    },
                    onDestroy: function (event) {
                        console.log('object ' + event.target + ' is destroyed');
                    },
                    onClick(event) {
                        if (event.target === 'showChanges_' + value) {
                            showChanged(value)
                        } else if (
                            event.target !== 'w2ui-add' &&
                            event.target !== 'w2ui-column-on-off' &&
                            event.target !== 'w2ui-reload' &&
                            event.target !== 'w2ui-save' &&
                            event.target !== 'w2ui-delete'
                        ) {
                            let name = event.owner.name
                            let data;
                            if (name === '2080_toolbar') {
                                data = grid2080
                            } else if (name === '8020_toolbar') {
                                data = grid8020
                            }
                            data.postData = {
                                category: `${value}`,
                                section: event.target
                            }
                            data.reload("{% url 'home:get_all_hebdo' %}")
                            w2utils.notify(`Hebdo "${event.detail.item.text}" Sélectionnez`)
                        }

                    }
                },
                onAdd: function (event) {
                    fetch("{% url 'home:generate_uid' %}", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/x-www-form-urlencoded",
                            "X-CSRFToken": "{{ csrf_token }}"
                        },
                        body: new URLSearchParams({
                            'category': value,
                        })
                    })
                        .then(response => response.json())
                        .then(data => {
                            let uid = data;
                            event.owner.add({'uid': data['uid'], 'category': data['category']});
                            event.owner.scrollIntoView(uid);
                            event.owner.editField(uid, 0)
                        })
                        .catch(error => {
                            console.error("Error deleting Breakdown:", error);
                            showAlert()
                        });
                },
                columns: [
                    {
                        field: 'department_name',
                        text: 'Département',
                        sortable: true,
                        size: '120px',
                        resizable: true,
                        editable: {type: 'text'},
                        frozen: true,
                        searchable: {operator: 'contains'}
                    },
                    {
                        field: 'family_name',
                        text: 'Famille',
                        sortable: true,
                        size: '120px',
                        resizable: true,
                        frozen: true,
                        editable: {type: 'text'},
                        searchable: {operator: 'contains'}
                    },
                    {
                        field: 'article',
                        text: 'Article',
                        sortable: true,
                        size: '120px',
                        resizable: true,
                        frozen: true,
                        editable: {type: 'text'},
                        searchable: {operator: 'contains'},
                        clipboardCopy: "Copier le N° Article"
                    },
                    {
                        field: 'designation',
                        text: 'Désignation',
                        size: '150px',
                        sortable: true,
                        resizable: true,
                        frozen: true,
                        editable: {type: 'text'},
                        searchable: {operator: 'contains'}
                    },
                    {
                        field: 'type',
                        text: 'Import / Local',
                        size: '100px',
                        sortable: true,
                        resizable: true,
                        frozen: true,
                        editable: {
                            type: 'list', items: typeHebdo, showAll: true, openOnFocus: true, align: 'left'
                        },
                        render(record, extra) {
                            switch (parseInt(extra.value)) {
                                case 1:
                                    extra.value = {id: 1, text: 'Import'}
                                    break
                                case 2:
                                    extra.value = {id: 2, text: 'Local'}
                                    break
                            }
                            return extra.value?.text || '';
                        }
                    },
                    {
                        field: 'qte_pta',
                        text: 'Qté',
                        size: '100px',
                        align: 'right',
                        editable: {type: 'money'},
                        render: 'money'
                    },
                    {
                        field: 'pmp_pta',
                        text: 'PMP',
                        size: '100px',
                        align: 'right',
                        editable: {type: 'money'},
                        render: 'money'
                    },
                    {
                        field: 'pdv_pta',
                        text: 'PDV',
                        size: '100px',
                        align: 'right',
                        editable: {type: 'money'},
                        render: 'money'
                    },
                    {
                        field: 'marge_pta',
                        text: 'Marge',
                        size: '100px',
                        align: 'right',
                        render: function (record, extra) {
                            if (record.pdv_pta && record.pmp_pta) {
                                return parseFloat(record.pdv_pta) - parseFloat(record.pmp_pta);
                            }
                        }
                    },
                    {
                        field: 'pourcentage_marge_pta',
                        text: '% marge',
                        size: '100px',
                        align: 'right',
                        render: function (record, extra) {
                            if (record.pdv_pta && record.pmp_pta) {
                                return (parseFloat(record.pdv_pta) - parseFloat(record.pmp_pta)) / parseFloat(record.pdv_pta) + ' %';
                            }
                        }
                    },
                    {
                        field: 'ca_ht_pta',
                        text: 'CA HT',
                        size: '100px',
                        align: 'right',
                        render: function (record, extra) {
                            if (record.qte_pta && record.pdv_pta) {
                                return parseFloat(record.pdv_pta) * parseFloat(record.pmp_pta);
                            }
                        }
                    },
                    {
                        field: 'qte_realisation',
                        text: 'Qté',
                        size: '100px',
                        align: 'right',
                        editable: {type: 'money',},
                        render: 'money'
                    },
                    {
                        field: 'pmp_realisation',
                        text: 'PMP',
                        size: '100px',
                        align: 'right',
                        editable: {type: 'money',},
                        render: 'money'
                    },
                    {
                        field: 'pdv_realisation',
                        text: 'PDV',
                        size: '100px',
                        align: 'right',
                        editable: {type: 'money',},
                        render: 'money'
                    },
                    {
                        field: 'marge_realisation',
                        text: 'Marge',
                        size: '100px',
                        align: 'right',
                        render: function (record, extra) {
                            if (record.pdv_realisation && record.pmp_realisation) {
                                return parseFloat(record.pdv_realisation) - parseFloat(record.pmp_realisation);
                            }
                        }
                    },
                    {
                        field: 'pourcentage_marge_realisation',
                        text: '% marge',
                        size: '100px',
                        align: 'right',
                        render: function (record, extra) {
                            if (record.pdv_realisation && record.pmp_realisation) {
                                return (parseFloat(record.pdv_realisation) - parseFloat(record.pmp_realisation)) / parseFloat(record.pdv_realisation) + ' %';
                            }
                        }
                    },
                    {
                        field: 'ca_ht_realisation',
                        text: 'CA HT Rea',
                        size: '100px',
                        align: 'right',
                        render: function (record, extra) {
                            if (record.qte_realisation && record.pdv_realisation) {
                                return parseFloat(record.pdv_realisation) * parseFloat(record.pmp_realisation);
                            }
                        }
                    },
                    {
                        field: 'stock_realisation',
                        text: 'Stock au 1301',
                        size: '100px',
                        align: 'right',
                        editable: {type: 'money',},
                        render: 'money'
                    },

                    // Variable
                    {
                        field: 'ecart_qte',
                        text: 'Ecart Qte',
                        size: '100px',
                        align: 'right',
                        render: function (record, extra) {
                            if (record.qte_realisation && record.qte_pta) {
                                return parseFloat(record.qte_pta) - parseFloat(record.qte_realisation);
                            }
                        }
                    },
                    {
                        field: 'pourcentage_ecart_qte',
                        text: 'Ecart Qte (%)',
                        size: '100px',
                        align: 'right',
                        render: function (record, extra) {
                            if (record.qte_realisation && record.qte_pta) {
                                return parseFloat(record.qte_pta) / (parseFloat(record.qte_realisation) - 1);
                            }
                        }
                    },
                    {
                        field: 'ecart_ca_ht',
                        text: 'Ecart CA HT (Valeur)',
                        size: '100px',
                        align: 'right',
                        editable: {type: 'money',},
                        render: {type: 'money'}
                    },
                    {
                        field: 'pourcentage_ecart_ca_ht',
                        text: 'Ecart CA HT (%)',
                        size: '100px',
                        align: 'right',
                        editable: {type: 'money',},
                        render: {type: 'money'}
                    },
                    {
                        field: 'stock_prevision',
                        text: 'Stock Prev',
                        size: '100px',
                        align: 'right',
                        editable: {type: 'money',},
                        render: {type: 'money'}
                    },
                ]
            }
        }

        let config = {
            layout: {
                name: 'layout',
                overflow: 'auto',
                resizable: false,
                padding: 0,
                panels: [
                    {type: 'left', size: 100, resizable: true, minSize: 35},
                    {type: 'main', size: 550, overflow: 'hidden'}
                ]
            },
            sidebar: {
                name: 'sidebar',
                flatButton: true,
                nodes: [
                    {
                        id: 'general',
                        text: 'General',
                        group: true,
                        expanded: true,
                        groupShowHide: false,
                        nodes: [
                            {id: 'grid2080', text: '2080', icon: 'fas fa-list-alt', selected: true},
                            {id: 'grid8020', text: '8020', icon: 'fas fa-list-alt'},
                            {id: 'html', text: 'Synthèse', icon: 'fas fa-list-alt'},
                        ],
                        onCollapse(event) {
                            event.preventDefault()
                        }
                    }
                ],
                onFlat(event) {
                    layout.sizeTo('left', (event.detail.goFlat ? 35 : 100), true)
                },
                onClick(event) {
                    switch (event.target) {
                        case 'grid2080':
                            layout.html('main', grid2080)
                            break
                        case 'grid8020':
                            layout.html('main', grid8020)
                            break
                        case 'html':
                            layout.html('main', '<div style="padding: 10px">Page de Synthèse</div>')
                            query(layout.el('main')).css('border-left', '1px solid #efefef')
                            break
                    }
                }
            },
            grid2080: grid('2080'),
            grid8020: grid('8020')
        }


        let layout = new w2layout(config.layout);
        let sidebar = new w2sidebar(config.sidebar);
        let grid2080 = new w2grid(config.grid2080);
        let grid8020 = new w2grid(config.grid8020);


        layout.render('#main');
        layout.html('left', sidebar)
        layout.html('main', grid2080)

        {#grid2080.localSearch()#}
        {#grid8020.localSearch()#}

        window.showChanged = function (value) {
            let target;
            if (value === '2080') {
                target = grid2080
            } else if (value === '8020') {
                target = grid8020
            }
            w2popup.open({
                title: 'Historique ' + value,
                with: 600,
                height: 550,
                body: `<pre>${JSON.stringify(target.getChanges(), null, 4)}</pre>`,
                actions: {Ok: w2popup.close}
            })
        }
        window.showAlert = function () {
            w2alert("Erreur de recuperation de l'UID")
                .ok(() => {
                    console.log("Erreur de recuperation de l'UID")
                })
        }
    </script>
{% endblock %}
